
body{
background-image: linear-gradient(to bottom, #66e1cc, #4a7fe5);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
box-sizing: border-box;
}

main{
    background-color: #fffefe;
    height: auto;
    width: 55%;
    padding: 20px;
}

.to_do{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.new_task,.recap{
    display: flex;
    gap: 2px;
}
.new_task input{
    display: block;
    width: 70%;
    appearance: none;
}
.list_items{
    padding: 5px;
}
.list_items p{
    height: 35px;
    background-color: #f3f1f4;
}
